%h1 Listing Access Requests

%table.table.table-striped
  %tr
    %th Doorbot
    %th Credential
    %th Access Granted
    %th Time of Request

  - @access_requests.each do |access_request|
    %tr
      %td=access_request.doorbot_nickname
      %td
        - if access_request.credential.blank?
          %span="Unknown: #{access_request.form} | #{access_request.key}"
        - else
          %span=access_request.credential.nickname
      %td
        - if access_request.access_granted
          %span Granted
        - else
          %span Denied
      %td= access_request.created_at.in_time_zone('America/Los_Angeles').to_formatted_s(:rfc822)
= paginate @access_requests
